---
version: '2.0'

networks:
  consul:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24

services:

  consul-master:
    image: bodsch/docker-consul:1.0.0
    container_name: consul-master
    hostname: consul-master
    ports:
      - 8400:8400
      - 8500:8500
      - 53:53
    command: "agent -dev -client=0.0.0.0"
    networks:
      consul:
        ipv4_address: 192.168.10.10

  vault:
    build: .
    container_name: vault
    hostname: vault
    ports:
      - 8200:8200
    links:
      - consul-master:consul
    depends_on:
      - consul-master
    volumes:
      - ./config/vault.conf:/config/vault.conf
    command: "server -config=/config/vault.conf"
    networks:
      consul:
        ipv4_address: 192.168.10.30
